<ion-view view-title="Existing Customer" hide-nav-bar="true" hide-back-button="false" ng-click="bodyClick()">
    <ion-content scroll="false" has-header="false" drag-content="false" class="background_existingcustomer" id="existing_customer" id="ADDSTEP">
    
    <!-- Header bar -->
    <ion-header-bar class="bar-black padding">
        <a ng-click="goBack()"><i class="icon ion-android-arrow-back placeholder-icon"></i></a>
    </ion-header-bar>

<div class="container" id="existing">
    <div class="row">
        <div class="col-xs-12">
            <div class="header-user">
                <div class="logo">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                </div>
                <h1>Enter your phone number</h1>
                <h2></h2>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="existing-form" ng-hide="results.length">
                <form ng-submit="find()">
                    <input type="tel" mask="(999) 999-9999" ng-model="ex.phone" name="cell" placeholder="Phone Number" class="phone-number">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <p>
                      <input type="checkbox" id="checkbox-2-1" class="regular-checkbox big-checkbox" ng-model="ex.Terms" />
                      <label ng-click="showTerms()"><a>I accept Terms and Conditions</a></label>
                    </p>
                    <div class="user-btns">
                        <a href="#" class="btn-new" ng-click="find()" >Find me</a>
                    </div>                  
                </form>
            </div>

            <!-- Search Results -->
            <ion-scroll zooming="true" direction="y" style="width: 100%; height: 100%">
                <div id="rightContent" class="customer_listing" ng-show="results.length">
                    <div class="col">
                        <ion-list>

                            <ion-item class="customer col col-center" ng-repeat="result in results track by $index">
                                <div class="row item-text-center" data-ng-click="next(result.id)">
                                    <div class="col col-20 col-center">
                                        <div class="custom_avatar">
                                            <img src="img/profile2.png" />
                                        </div>
                                    </div>
                                    <div class="col col-center">
                                        <div class="row">
                                            <div class="col col-center">
                                                <h3>{{ result.firstname }} {{ result.lastname }}</h3></div>
                                            </div>
                                        <div class="row">
                                            <div class="col col-center">
                                                <h4>{{ result.phone_no }}</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-10 col-center text-right arrow">
                                        <img src="img/arrow-right.png" class="image_responsive_7">
                                    </div>
                                </div>
                            </ion-item>

                        </ion-list>
                    </div>
                </div>
            </ion-scroll>

        </div>
    </div>
</div>

            <div class="active-screen">
                <ul>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>


    </ion-content>
</ion-view>

