<ion-view view-title="Loading" hide-nav-bar="true" hide-back-button="false">
    <ion-content scroll="false" has-header="false" drag-content="false" class="background" id="loading">


    <div id="outer_cont">

                <div id="middle" class="col text-center">
                    <img src="img/logo400.png" class="image_responsive_30">
                </div>

                <div id="footer" class="col text-center">
                    <div class="row"> 
                        <div class="col text-center">
                            <h2 class="feedback">Loading...</h2>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col text-center rights">
                            Made by DMS. All Rights Reserved @ 2015
                        </div>
                    </div>
                </div>

            
    </div>
    
    </ion-content>
</ion-view>