<ion-view view-title="Choose Professional" hide-nav-bar="true" hide-back-button="false" ng-click="bodyClick()">
    <ion-content scroll="false" has-header="false" drag-content="false" class="background_existingcustomer" id="existing_customer">
    
    <!-- Header bar -->
    <ion-header-bar class="bar-black padding">
        <a ng-click="goBack()"><i class="icon ion-android-arrow-back placeholder-icon"></i></a>
        <!-- <button style="color:white !important;" class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()"> Search</button> -->
    </ion-header-bar>


<div class="container" id="professional">
    <div class="row">
        <div class="col-xs-12">
            <div class="header-user">
                <div class="logo">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                </div>
                <h1>Choose your professional</h1>
            </div>
        </div>
        <div class="col-xs-12">
             
            <div class="row professional">

            <ion-list>
                <ion-item ng-repeat="result in results track by $index">
                   <div data-ng-click="chooseProfessional(result.id)">
                        <div class="col-xs-12 col-sm-12 pro-pad">
                            <a href="#">
                                <img src="{{ result.image }}">
                                <p>{{ result.name }}</p>
                            </a>
                        </div> 
                    </div>
                </ion-item>

            </ion-list>

            </div>


        </div>
    </div>
</div>

            <div class="active-screen">
                <ul>
                    <li ></li>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            

    </ion-content>
</ion-view>
