$background-color: rgb(19,30,48);
$color-home-text: rgb(255,255,255);
$new-btn-color-back: rgb(241,88,37);
$exist-btn-color-back: rgb(69,130,196);
$btn-text-color: rgb(255,255,255);
$color-4: #859abb;
$white-color : rgb(255,255,255);
